# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# Production build
build/
dist/

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Prisma generated
prisma/migrations/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
dev.log

# Misc
.DS_Store
*.pem
.idea/
.vscode/
